<head>
  <title>Feedback</title>
  <link href="style.css" rel="stylesheet" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Feedback" />
  <meta property="og:url" content="https://joloz.gitlab.io/feedback" />
  <meta property="og:image" content="https://joloz.gitlab.io/feedback/og.png" />
  <meta
    property="og:description"
    content="An example on how to give users hover feedback."
  />
  <meta property="article:author" content="JoLoZ" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Feedback by JoLoZ" />
  <meta name="twitter:site" content="@JoLoZ" />
  <meta
    name="twitter:description"
    content="An example on how to give users hover feedback."
  />
  <meta
    name="twitter:image"
    content="https://joloz.gitlab.io/feedback/og.png"
  />
  <meta name="twitter:image:alt" content='Text saying "Feedback"' />
</head>
<body>
  <div class="title">
    <span>F</span>
    <span>e</span>
    <span>e</span>
    <span>d</span>
    <span>b</span>
    <span>a</span>
    <span>c</span>
    <span>k</span>
  </div>
  <div class="footer">
    <a href="https://ko-fi.com/joloz/" target="_blank">Created by JoLoZ</a>
    <a href="https://ko-fi.com/joloz/" target="_blank">Support me on Ko-Fi</a>
    <a href="https://twitter.com/jolozs" target="_blank"
      >Follow me on Twitter</a
    >
    <a href="https://gitlab.com/joloz/feedback" target="_blank"
      >View the source code</a
    >
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="action.js"></script>
</body>
