@font-face {
    font-family: OpenSans;
    src: url(OpenSans.ttf);
}
@font-face {
    font-family: NotoSerifDisplay;
    src: url(NotoSerifDisplay.ttf);
}
body{
    font-family: OpenSans;
    font-weight: 300;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.title{
    height: 100vh;
    width: 100vw;
    font-size: 30vh;
    font-family: NotoSerifDisplay;
    font-weight: 1;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title span{
    transition: 250ms;
    opacity: 0.5;
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    transition: 200ms;
}
.footer:hover{
    opacity: 1;
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 5px;
    opacity: 0.7;
    transition: 200ms;
}
.footer a:hover{
    opacity: 1;
}